.profilePic{
	border-radius: 50%;
	width: 100%;
}
div.profilePic:hover{
	opacity: 0.6;
}
div.profilePic:active{
    opacity: 1;
}
.wrongUserLink:link {
    text-decoration: none;
}
.wrongUserLink:hover {
    text-decoration: underline;
    color: rgba(160,160,160,1);
}
.wrongUserLink:active {
    text-decoration: underline;
    color: rgba(0,0,0,1);
}

img.carousel{
	width: 100%;
	height: 100%;
}

.sigin-button{
	margin-top: -5em;
	z-index: 2000;
}

.slide-text{
	top: 50%;
}

.push-down{
	margin-top: 3em
}

.golden{
	color: rgba(255,200,0,1);
}

.overlay-switch{
	position: absolute;
	top: 0.6em;
	left: 30%;
	font-size:	72px; 
	z-index: 10;
}