<div class="row login">
	<div class="col-12 col-md-3"></div>
	<div class="col-12 col-md-6">


		<div class="card bg-white text-center">

			<div class="card-header">
			
				<ngb-carousel *ngIf="images">

					<ng-template ngbSlide>
						<img [src]="images[0]" class="carousel" alt="Random first slide">
						<div class="carousel-caption slide-text text-primary">
							<strong><p>Acceso fácil a documentos</p></strong>
						</div>
					</ng-template>

					<ng-template ngbSlide>
						<img [src]="images[1]" class="carousel" alt="Random second slide">
						<div class="carousel-caption slide-text text-primary">
							<strong><p>Prácticas estadísticas</p></strong>
						</div>
						
					</ng-template>

					<ng-template ngbSlide>
						<img [src]="images[2]" class="carousel" alt="Random third slide">
						<div class="carousel-caption slide-text text-primary">
							<strong><p>Haga click para comenzar!</p></strong>
						</div>
					</ng-template>

				</ngb-carousel>	

				<div *ngIf="isLogged">
					<span class="golden"> <i class="fa fa-key" aria-hidden="true"></i> </span>Acceso Autorizado
				</div>

			</div>
			
			<div class="card-body">
				<div class="row">
					<div class="col"></div>
					<div class="col">
						<div id="my-signin2"></div>
					</div>
					<div class="col"></div>
				</div>

				<div class="row" *ngIf="isLogged">

					<div class="col-3 col-md-4"></div>
					<div class="col-6 col-md-4 profilePic"  (mouseenter)="toggleSwitch('on')" (mouseleave)="toggleSwitch('off')">
						<img class="card-img-top profilePic" (click)="cambiarUsuario()" [src]="imgUrl">
						<span *ngIf="showSwitch" class="overlay-switch" (click)="cambiarUsuario()"><i class="fa fa-exchange" aria-hidden="true"></i></span>
					</div>
					<div class="col-3 col-md-4"></div>
					<div class="col-12">
						<h5 class="card-title">Bienvenido(a) {{username}}!</h5>
						<p class="card-text">Ya puede ingresar a su dashboard haciendo click en el botón a continuación.</p>
						<a class="btn btn-outline-success" routerLink="/dashboard">Continuar</a>
					</div>
				</div>
			</div>
			
			<div class="card-footer text-muted" *ngIf="isLogged">
				<span class="wrongUserLink" (click)="cambiarUsuario()"> ¿No eres {{username}}? </span> 
			</div>
		
		</div>
	<div class="col-12 col-md-3"></div>
</div>

<!--






<div class="container">
	

<div class="row sigin-button">
	<div class="col"></div>
	<div class="col-auto">

		<div class="row">
			<div class="col">		
				
			</div>
		</div>
		
	</div>
	<div class="col"></div>
</div>

</div>

<div class="container push-down">



	<div *ngIf="loading" class="loadingWindow">
		<i class="fa fa-spinner fa-spin" style="font-size:48px"></i>
	</div>

</div>







-->

