/* You can add global styles to this file, and also import other style files */
.loadingWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    z-index: 10;
}

i.fa-spinner{
  position: fixed;
  left: calc(50% - 30px);
  top:  calc(50% - 50px);  
  z-index: 15;
}

div.loadingCorner > i.fa-spinner{
  position: fixed;
  left: calc(1% );
  top:  calc(1% );  
  z-index: 15; 
}